.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;

    .input-container{
        display: flex;
        flex-direction: column;
    }

    .select{
        height: 1.4rem;
        display: flex;
    }
              
    .check{
        position: relative;
        display: flex;
        align-items: center;
    }

    #date_birth{
        width: 51%;
        height: 1.2rem;
    }

    .preview-image{
        width: 300px;
        height: 300px;
    }
}

#btn-submit{
    width: 20%;
    height: 2rem;
    align-self: center;
}